# Aegis Anomalies - A MA0218 Mini-Project
---
##### By: Winston James | Jason Lim | Zheng Cong | Le Zhou 

##### Dataset Chosen: Climate Change - https://energydata.info/dataset/climate-change-data

##### Presentation Slides: https://www.canva.com/design/DAG2TqQksvo/lkR3PEaGXeO9cMv8Dlvbsw/edit?utm_content=DAG2TqQksvo&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton

In [2]:
#Basic Libraries
import numpy as np
import pandas as pd

In [3]:
cc_data = pd.read_excel('dataset_ClimateChange/climate_change_dataset.xlsx')
cc_data.head()

,Country code,Country name,Series code,Series name,SCALE,Decimals,1990,1991,1992,1993,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,ABW,Aruba,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,29.57481,..,..,..,...,..,..,..,..,..,..,..,..,..,..
1,ADO,Andorra,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,0,..,..,..,...,..,..,..,..,..,..,..,..,..,..
2,AFG,Afghanistan,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,0,..,..,..,...,..,..,..,..,..,..,..,..,..,..
3,AGO,Angola,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,0.208235,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4,ALB,Albania,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,4.967875,..,..,..,...,..,..,..,..,..,..,..,..,..,..